{% extends 'layout.html'%} {% block title %} HOME PAGE {% endblock %} 
{% block content %}
<div class="col-md-8">
  <div class="card mb-3 m-5 p-5">
    <img
      src="https://media.istockphoto.com/id/1309583872/es/foto/vista-a%C3%A9rea-de-la-isla-de-lao-lading-en-krabi-tailandia.jpg?s=1024x1024&w=is&k=20&c=7-lMiOC8ddzvI47V0x6MEiIWzlwJRgtZFcHvd4r9FhU="
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">CHANG ISLAND</h5>
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
  <div class="card mb-3 m-5 p-5">
    {% for post in post_list %}
    {% if "placeholder" in post.featured_image.url %}
    <img
      src="https://media.istockphoto.com/id/1282649181/es/foto/pareja-joven-en-m%C3%A1scara-de-snorkel-buceo-bajo-el-agua-en-el-mar-tropical.jpg?s=1024x1024&w=is&k=20&c=emMgsuc5jnq7AN4_zdjPIcUdobcz8u0guPtRBc4RbU4="
      class="card-img-top"
      alt="..."
    />
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ post.auther }}</h5>
      <p class="card-text">
        {{ post.title }}
      </p>
      <p class="card-text">
        <small class="text-muted">{{ post.excerpt}}</small>
      </p>
      <a href="">
        <h2>{{ post.created_on }}</h2>
        <p>{{ post.number_of_like }}</p>
      </a>
    </div>
    {% if forloop.counter|divisibleby:3 %}
    {% endif %}
    {% endfor %}
  </div>
  <div class="card mb-3 m-5 p-5">
    <img
      src="https://media.istockphoto.com/id/1282649181/es/foto/pareja-joven-en-m%C3%A1scara-de-snorkel-buceo-bajo-el-agua-en-el-mar-tropical.jpg?s=1024x1024&w=is&k=20&c=emMgsuc5jnq7AN4_zdjPIcUdobcz8u0guPtRBc4RbU4="
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">PHUKET</h5>
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
  <div class="card mb-3 m-5 p-5">
    <img
      src="https://media.istockphoto.com/id/1133594107/es/foto/pareja-disfrutando-de-vacaciones-en-la-playa-en-el-complejo-tropical-con-piscina-y-palmeras-de.jpg?s=1024x1024&w=is&k=20&c=y7sxp2rMLCY54iuTuS1lfm6Z7CM90rabeOVhurPH65s="
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">PATTAYA</h5>
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
</div>
{% endblock %}
