{% extends "layout.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
{% block title %} HOME PAGE {% endblock %} 
{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <div>
  <img src="https://media.istockphoto.com/id/623215778/es/foto/paisaje-esc%C3%A9nico-paisaje-marino.jpg?s=1024x1024&w=is&k=20&c=wN0EYiSwRL3BMFtoxKEcVNkhx4_HnQoYqxOA5rGBi5k=" class="card-img-bottom" alt="...">
  </div>
  <div> 
  <a href="#" class="post-link">
  <h2 class="class-title">{{ post.title }}</h2>
  <p class="class-title">{{ post.excerpt }}</p>
  </a>
  <hr />
  <p class="card-text text-muted h6"> {{ post.created_on }}
  <i class="fa-solid fa-heart"></i>{{ post.number_of_like }}
  </p>
  </div>
</div>
{% endblock %}

</body>
</html>

